.background{
    width: inherit;
    height: inherit;
    overflow-y: scroll;
}
.knowledgeLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.headerMenu{
margin-top: 75px;
box-sizing: border-box;
width: 55vw;
height: 7.5vh;
display: flex;
justify-content: end;
border: 1px solid #DFDFDF;
border-radius: 15px;

}
.boardLayout{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    row-gap: 30px;
}

        .searchBar{
    width: 190px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 10px;
    background: #f2f2f5;
    border-radius: 100px;
    gap: 10px;
    @media only screen and (max-width: 440px) {
        position: fixed;
        left: 30px;
        width: 160px;
        height: 40px;
        margin-top:17.5px;
        margin-left: 0;
        z-index: 1;
        border-radius: 12px;
        background: #222222;
    }
  
    
    }
    .searchBar img{
    margin-left: 10px;
    width: 10px;
    height: 10px;
    }
    .searchBar span{
    
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737991;
    @media only screen and (max-width: 440px) {
     color: #FFFFFF;
    }
    
    
    }

    .addView{
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addContainer{
    width: 400px;
    height: 400px;
    background: #ebebec;
    border-radius:5%;
    display: flex;
    flex-direction: column;
    }
    .addContainer header{
        height: 10%;
        border-bottom: 1px solid rgb(219, 219, 219);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .addContainer header span{
        position: absolute;
    }
    .addContainer header button{
        position: relative;
        left: 36%;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
    }
    .addContainer header button:hover{
        scale: 1.1;
    }
    .addContainer button img{
        width: inherit;
        height: inherit;
        object-fit: contain;
        object-position: center;
    }